@inject IStringLocalizer<Resources.Resource> Localizer

<div id="header">
    <a href="#home" target="_top">@Localizer["Home"]</a>
    <a href="#about" target="_top">@Localizer["About"]</a>
    <a href="#resume" target="_top">@Localizer["Resume"]</a>
    <a href="#portfolio" target="_top">@Localizer["Portfolio"]</a>
    <a href="#contact" target="_top">@Localizer["Contact"]</a>
    <CultureSelector></CultureSelector>
</div>