@inject IStringLocalizer<Resources.Resource> Localizer

<div id="header">
    <a style="font-size:medium" href="#home" target="_top">@Localizer["Home"]</a>
    <a style="font-size:medium" href="#about" target="_top">@Localizer["About"]</a>
    <a style="font-size:medium" href="#resume" target="_top">@Localizer["Resume"]</a>
    <a style="font-size:medium" href="#portfolio" target="_top">@Localizer["Portfolio"]</a>
    <a style="font-size:medium" href="#contact" target="_top">@Localizer["Contact"]</a>
    <CultureSelector></CultureSelector>
</div>