@inject IStringLocalizer<Resources.Resource> Localizer
@inject LocalizationService LocalizationService

<section class="light" id="resume">
    @if (background is not null)
    {
        <img class="background" src="@(background.Src)" alt="@(background.Alt)" />
    }
    <!-- Section Title -->
    <h2>@Localizer["Resume"]</h2>

    <div style="background-color: white; width: 60%; padding: 4rem; margin: 3rem auto; text-align: center;">
        <div>
            @if (resume is null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <section>
                    <div class="flex-container">
                        <div class="flex-item-left">                            
                            <ContactComponent resume="@resume"></ContactComponent>
                            <hr style="margin:20px 20px 20px 20px" />
                            <EducationComponent educations="@resume.education"></EducationComponent>
                            <hr style="margin:20px 20px 20px 20px"/>
                            <ExperienceComponent resume="@resume" startindex="0" count="2"></ExperienceComponent>
                        </div>

                        <div class="flex-item-right">
                            <ExperienceComponent resume="@resume" startindex="2" count="6"></ExperienceComponent>
                        </div>
                    </div>
                </section>
            }
        </div>
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private BlazorApp.Models.Resume? resume;
    private HeroImage? background;

    protected override async Task OnInitializedAsync()
    {
        if (await this.LocalizationService.GetLanguage() == Language.EnglishCode)
        {
            resume = await Http.GetFromJsonAsync<BlazorApp.Models.Resume>("Data/resume.json");
        }
        else
        {
            resume = await Http.GetFromJsonAsync<BlazorApp.Models.Resume>("Data/resume_fr.json");
        }

        background = await HeroImageService.GetHeroAsync(img => img.Name is "about");
    }
}
